<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Eleonora Kazakova</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="content">

  <header>
    <div class="textHeader">
      FEND Capstone Project: Travel App
    </div>
  </header>
  <section class="divForm">
    <div class="form text">
      <div class='module '>
        <div>City</div>
        <input type="text" class='textbox' id="city" type="text" rows='1' placeholder="Input city">
      </div>
      <div class='module'>
        <div>Start of the trip:</div>
        <input type="date" id="date" class='textbox'>
        <div>The end of the trip:</div>
        <input type="date" id="dateEnd" class='textbox'>
      </div>
      <div class='module'>
        <div id="generate" name="" >Click</div>
      </div>
      
    </div>
    
  </section>

  <main id='allTrips'>  
  </main>

  <footer>
    <p>Copyright 2020</p>
  </footer>


  <!--<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>-->

</body>

</html>