<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Eleonora Kazakova</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&display=swap');
  </style>  
</head>

<body class="content">

  <header>
    <div class="textHeader">
      FEND Capstone Project: Travel App
    </div>
  </header>
  <section class="divForm">
    <div class="form text">
      <div class='moduleForm'>
        <div>City
          <input type="text" class='textbox' id="city" type="text" rows='1' placeholder="Input city">
        </div>
        
      </div>
      <div class='moduleForm'>
        <div>
          Start of the trip:
          <input type="date" id="date" class='textbox'>
        </div>
        
        <div>
          The end of the trip:
          <input type="date" id="dateEnd" class='textbox'>
        </div>
        
      </div>
      <div class='moduleForm'>
        <div id="generate" name="" >Click</div>
      </div>
      
    </div>
    
  </section>

  <main id='allTrips'>  
  </main>

  <footer>
    <p>Copyright 2020</p>
  </footer>


  <!--<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>-->

</body>

</html>