<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Eleonora Kazakova</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="content">

  <header>
    <div class="textHeader">
      FEND Capstone Project: Travel App
    </div>
  </header>

  <section class="form text">
    <div class='module '>
      <div>City</div>
      <input type="text" class='' id="city" type="text" rows='1' placeholder="Input city">
    </div>
    <div class='module'>
      <div>Date</div>
      <input type="date" id="date">
      <div id="generate" name="">Click</div>
    </div>
  </section>


  <div class="tripBoxLeft"></div>

  <section class="tripBoxCenter">
    <div>
      <div id="results"></div>

      <div class="trip">
        <img  id="photo">

        <section>
          <div class='module'>
            <div>Country:</div>
            <div id="newcountry"></div>
          </div>

          <div class='module'>

            <div>City:</div>
            <div id="newcity"></div>

          </div>

          <div class='module'>
            <div>Date of the trip:</div>
            <div id="newDate"></div>
          </div>

          <div class='module'>
            <div>latitude:</div>
            <div id="latitude"></div>
          </div>

          <div class='module'>
            <div>longitude:</div>
            <div id="longitude"></div>
          </div>

        </section>
      </div>
    </div>
  </section>

  <div class="tripBoxRight"></div>

  <main >
    <div class='textWeather'>Weather forecast for the next 16 days:</div>
    <div class="weather text" id="weather"></div>
  </main>

  <footer>
    <p>Copyright 2020</p>
  </footer>


  <!--<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>-->

</body>

</html>