@media  (max-width: 399px){
  .content{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 150px  auto 50px;
    grid-template-areas: 
    'hd'
    'tt'
    'mn'
    'ft';
    min-height: 100vh;
  }

  .form{
      grid-area: tt;
      display: flex;
      justify-content: start;
      flex-direction: column;
    }
  
  .module{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 5px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .moduleTripEnd{
    padding-top: 5px;
    margin-left: 10px;
  }

  .moduleForm{
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
    }

  .tripDiv{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .photo{
    max-width: 250px;
    align-self: center;
  }

  main{
    grid-area: mn;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weather{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    max-width: 400px;
  }

  .oldTripDiv{
    background-color: rgba(160, 160, 160, 0.521);
    margin: 10px;
  }
  
  .textHeader{
    color: rgb(1, 39, 71);
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
  }

  .text{
    color: rgb(0, 0, 0);
    font-size: 14px;
  }
  
  .textbox{
    height: 20px;
    width: 100px;
  }

  .divForm{
    grid-area: tt;
    display: flex;
    background-color: rgba(248, 55, 103, 0.808);
    align-items: center;
    padding-left: 10px;
  }

  .elementTrip{
    padding: 10px;
  }

  .weatherBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}