body{
  background-color: rgb(232, 237, 252);
  margin: 0;
}

#generate{
  cursor: pointer;
}
@media  (min-width: 10px) {
.content{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 100px  auto 50px;
  /*grid-template-columns: 20% auto 20%;
  grid-template-rows: 100px 100px  auto 50px;*/
  grid-template-areas: 
  'hd'
  'tt'
  'mn'
  'ft';
  /*'hd hd hd'
  'll tt rr'
  'lf mn rt'
  'ft ft ft';*/
  min-height: 100vh;
  width: 100vw;
  
}
}

.form{
  grid-area: tt;
  padding-left: 20%;
  padding-right: 20%;
  background-color: rgba(248, 55, 103, 0.808);
}

.tripBoxLeft{
  grid-area: cc;
  //background-color: rgb(238, 183, 183);
}

.tripBoxRight{
  grid-area: dd;
  //background-color: rgb(238, 183, 183);
}

.tripBoxCenter{
  grid-area: cct;
  //background-color: rgb(238, 183, 183);
  font-size: 20px;
  align-items: center;
  display: flex;
}

main{
  grid-area: mn;
  
}

.module{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

header{
 grid-area: hd;
 
}

footer{
  grid-area: ft;
  background-color: rgb(2, 43, 58);
  color: aliceblue;
  text-align: center;
}

#photo{
  max-width: 500px;
}

.trip{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.textHeader{
  color: rgb(1, 39, 71);
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}

.text{
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-size: 20px;
}

.weather{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  //width: 1000px;
  align-items: center;
}

.weatherDay{
  display: flex;
  border: 1px solid white;
  padding: 5px;
}

.textWeather{
  color: aliceblue;
  margin-top: 20px;
  font-size: 24px;
}

.div{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.tripDiv{
  //padding-left: 20%;
  //padding-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
  align-items: center;
}


.oldTripDiv{
  background-color: rgba(160, 160, 160, 0.521);
  //padding-left: 20%;
  //padding-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  justify-content: center;
  
}

.weatherTitleWeather{
  display: flex;
  flex-direction: column;
}

