body{
  background-color: rgb(232, 237, 252);
  margin: 0;
}

#generate{
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  width: 70px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 5px;
}

.click{
  cursor: pointer;
  background-color: rgba(105, 105, 105, 0.329);
  width: 150px;
  display: flex;
  justify-content: center;
}

.content{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 120px  auto 50px;
  grid-template-areas: 
  'hd'
  'tt'
  'mn'
  'ft';
  min-height: 100vh;
}

.form{
  grid-area: tt;
  display: flex;
  justify-content: start;
  width: 1000px;
  flex-direction: column;
}

main{
  grid-area: mn;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.module{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 5px;
}

header{
  grid-area: hd;
}

footer{
  grid-area: ft;
  background-color: rgb(2, 43, 58);
  color: aliceblue;
  text-align: center;
}

#photo{
  max-width: 500px;
}

.trip{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.textHeader{
  color: rgb(1, 39, 71);
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
}

.text{
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.weather{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.weatherDay{
  display: flex;
  border: 1px solid white;
  padding: 5px;
}

.textWeather{
  color: aliceblue;
  margin-top: 20px;
  font-size: 24px;
}

.divForm{
  grid-area: tt;
  display: flex;
  justify-content: center;
  background-color: rgba(248, 55, 103, 0.808);
  align-items: center;
}

.tripDiv{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 1000px;
}

.oldTripDiv{
  background-color: rgba(160, 160, 160, 0.521);
  padding-top: 20px;
  padding-bottom: 20px;
}

.weatherTitleWeather{
  display: flex;
  flex-direction: column;
}

.textbox{
  height: 20px;
}